.valuefocue-banner {
	height: 320px;
	width: 100%;
	background: url(../img/value/valuefocue-banner-2x.jpg) center #ccc;
	background-size: cover;
}

#myimg {
	position: absolute;
	width: 520px;
	right: 0;
	top: 110px;
	animation: moveright 1s ease-out forwards;
}

.welinain {
	text-align: center;
}

.choose-us {
	background-color: rgba(222, 223, 212, .3);
	padding: 3% 0 3%;
}

.asmall-title {
	text-align: center;
	color: #3bbe7a;
	font-size: 18px;
	margin: 0 0 2%;
}

.choose-we .tcenter {
	margin: 40px 0;
}

.tcenter {
	text-align: center;
}

.valuefocus-cont-font h4 {
	margin-bottom: 15px;
}

.valuefocus-cont-font {
	margin: 30px 0 0;
}

.f12 {
	/*font-size: 12px;*/
	color: #666;
}

.valuefocus_ico {
	width: 253px;
	/*border-radius: 100%;*/
	height: 253px;
	margin: 0 auto;
	/*position: relative;*/
	/*background: bisque;*/
}

.circleChart {
	position: relative;
	color: white;
}

.bgcircle1 {
	position: absolute;
	top: 11px;
	left: 11.5px;
	margin: auto;
	height: 230px;
	width: 230px;
	background-color: lightblue;
	border-radius: 100%;
	background-image: url(../img/value/valuefocus_ico1.jpg);
	background-color: #ccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	line-height: 233px;
	text-align: center;
}

.bgcircle2 {
	position: absolute;
	top: 11px;
	left: 11.5px;
	margin: auto;
	height: 230px;
	width: 230px;
	background-color: lightblue;
	border-radius: 100%;
	background-image: url(../img/value/valuefocus_ico2.jpg);
	background-color: #ccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	line-height: 233px;
	text-align: center;
}

.bgcircle3 {
	position: absolute;
	top: 11px;
	left: 11.5px;
	margin: auto;
	height: 230px;
	width: 230px;
	background-color: lightblue;
	border-radius: 100%;
	background-image: url(../img/value/valuefocus_ico3.jpg);
	background-color: #ccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	line-height: 233px;
	text-align: center;
}

.bgcircle4 {
	position: absolute;
	top: 11px;
	left: 11.5px;
	margin: auto;
	height: 230px;
	width: 230px;
	background-color: lightblue;
	border-radius: 100%;
	background-image: url(../img/value/valuefocus_ico4.jpg);
	background-color: #ccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	line-height: 233px;
	text-align: center;
}

.jiankangguanli {
	margin-top: 80px;
	background-color: rgba(222, 223, 212, .3);
	padding: 3% 0;
}

.jiankangguanli-title {
	text-align: center;
	color: #3bbe7a;
	font-size: 18px;
	margin: 0 0 4%;
}

.jiankangguanli-content {
	text-align: center;
	margin-top: 30px;
}

.jiankangguanli-div-l {
	margin-left: -15px;
	margin-right: 5%;
}

.mtop20 {
	margin-top: 20px;
	color: #666;
}

.jzjj-map {
	margin-bottom: 100px;
	margin-right: -15px;
	margin-left: -15px;
}

.linh25 {
	line-height: 25px;
}

.jzjj-map {
	margin: 0;
	margin-bottom: 50px;
}

@keyframes moveright {
	0% {
		transform: translate(-20px);
		opacity: 0
	}
	50% {
		transform: translate(-14px);
		opacity: 1
	}
	70% {
		transform: translate(-8px);
		opacity: 1
	}
	100% {
		transform: translate(0);
		opacity: 1
	}
}


}
@media (min-width: 1200px) {
	.pc-none {
		display: none;
	}
}
@media (min-width: 768px) {
	.pc-none {
		display: none;
	}
}
@media (max-width:767px) {
	.app-none {
		display: none;
	}
	
	.col-small-12 {
		width: 100%;
	}
	
	.asmall-title {
		margin-bottom: 30px;
	}
	
	.linh25 {
		line-height: 20px !important;
	}
	
	.jiankangguanli-div-l {
		margin: 0;
	}
	
	.jiankangguanli-title {
		margin: 0 0 30px;
	}
	
	.jiankangguanli {
		margin-top: 40px;
		padding: 30px 0 10px;
	}
	
	.f12 {
		font-size: 12px;
		color: #666;
	}
	
	.valuefocus-cont-font {
		margin: 15px 0 0;
	}
	
	.choose-we .tcenter {
		margin: 0;
	}
	
	.asmall-title {
		margin-bottom: 30px;
	}
	
	.choose-we {
		padding: 30px 0 0;
	}
	
	.welinain {
		font-size: 18px;
	}
	
	#myimg {
		top: auto;
	}
	
	.valuefocue-banner {
		background-image: url(../img/value/valuefocue-app-banner.jpg);
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
		padding: 0 15px;
	}
}